
/* Your CSS Code here. */
.l{
	display:flex;
	flex-direction:row;
	list-style:none;
	justify-content:space-between;
	
}
.first{
 height:150px;
	width:150px;
	
	background:#008001;
}
.first1{
	height:150px;
	width:150px;
	
	background:#FF0000;
}
.first2{
	height:150px;
	width:150px;
	
	background:#0000FF;
}